.intro-container {
  display: flex;
  flex: 1;
  padding: 2% 5% 3% 0;
}

.intro-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.greeting-sentence {
  padding: 3% 0 7% 0;
}

.profile-img {
  padding-bottom: 5%;
}

.contact {
  font-size: 18px;
}

img {
  width: 100%;
  align-self: center;
}

.detail-sentence {
  padding: 10% 0;
}

.font18 {
  font-size: 18px;
}

.resume-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 2% 3% 0 0;
}

.resume-box {
  padding: 3% 0;
}

.resume-link {
  width: 15%;
  text-align: center;
  font-size: 19px;
  background-color: #755139;
  color: #ffffff;
  padding: 7px 15px;
  border-radius: 0.5em;
  margin: 1%;
}

.title {
  font-size: 26px;
  font-weight: bolder;
  padding-bottom: 2%;
  border-bottom: 1px solid #ced4da;
}

.set {
  padding: 2% 0;
}

.set-name {
  padding-left: 1%;
  font-size: 20px;
  font-weight: bold;
}

.set-duration {
  padding-left: 1%;
  color: #868e96;
  font-size: 14px;
}

.set-detail {
  padding-left: 1%;
  font-size: 16px;
  list-style: none;
}

.set-detail::before {
  content: "▶︎  ";
  color: #755139;
  font-size: 12px;
}

.italic {
  font-style: italic;
}

@media only screen and (max-width: 935px) {
  .intro-container {
    display: flex;
    flex: 1;
    padding: 10% 5% 0 0;
  }

  .intro-content {
    display: flex;
    flex: 1;
  }

  .greeting-sentence {
    padding: 3% 0 10% 0;
  }

  .contact {
    font-size: 18px;
  }

  .profile-img {
    padding-bottom: 5%;
  }

  img {
    width: 100%;
    align-self: center;
  }

  .detail-sentence {
    padding: 10% 0 5% 0;
  }

  .font18 {
    font-size: 16px;
  }

  .resume-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2% 3% 0 0;
  }

  .resume-box {
    padding: 3% 0;
  }

  .resume-link {
    width: 15%;
    text-align: center;
    font-size: 19px;
    background-color: #755139;
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 0.5em;
    margin: 1%;
  }

  .title {
    font-size: 26px;
    font-weight: bolder;
    padding-bottom: 2%;
    border-bottom: 1px solid #ced4da;
  }

  .set {
    padding: 2% 0;
  }

  .set-name {
    padding-left: 1%;
    font-size: 20px;
    font-weight: bold;
  }

  .set-duration {
    padding-left: 1%;
    color: #868e96;
    font-size: 14px;
  }

  .set-detail {
    padding-left: 1%;
    font-size: 16px;
  }

  .set-detail::before {
    content: "▶︎  ";
    color: #755139;
    font-size: 12px;
  }

  .italic {
    font-style: italic;
  }
}
